.md-data-table-responsive-row{
  border: 1px rgba(0, 0, 0, 0.12) solid;
  display: table;
  width: 100%;
  margin-bottom: 30px;

  > td{
    display: table-row;
    > table {
      width: 100%;
    }
  }

  thead, tbody{
    display: table-cell;
  }
  tbody{ float: right; }

  td{
    border: none !important;
  }
}
