<md-data-table-toolbar>
<md-button ng-click="toggleTable()">
    Change
</md-button>
</md-data-table-toolbar>
<md-data-table-container id="columnContainer" ng-class="{'table-full':toggleContainer,'table-column':!toggleContainer}">
    <table class="table-striped" md-data-table
           md-row-click="rowClick">
        <thead md-order="query.order">
        <tr>
            <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}"
                ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}"
                ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr md-no-select md-no-checkbox
            ng-repeat="dessert in desserts.data | orderBy: query.order | mdStartFrom:(query.page-1)*query.limit | limitTo:query.limit track by dessert.id">
            <td data-title="Name">{{dessert.name}}</td>
            <td data-title="Type">{{dessert.type}}</td>
            <td data-title="Date">{{dessert.date}}</td>
            <td data-title="Calories">{{dessert.calories.value}}</td>
            <td data-title="Note">{{ dessert.note | limitTo: 50 }}{{dessert.note.length > 50 ? '...' : ''}}</td>
            <td data-title="Fat">{{dessert.fat.value | number: 2}}</td>
            <td data-title="Carbs">{{dessert.carbs.value}}</td>
            <td data-title="Protein">{{dessert.protein.value | number: 2}}</td>
            <td data-title="Sodium">{{dessert.sodium.value}}</td>
            <td data-title="Calcium" show-unit>{{dessert.calcium.value}}</td>
            <td data-title="Iron" show-unit hide-sm>{{dessert.iron.value}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page"
                          md-data="desserts.data"></md-data-table-pagination>
