<md-data-table-toolbar class="alternate" ng-show="selected.length">
    <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
</md-data-table-toolbar>
<md-data-table-container class="table-full">
        <table md-data-table md-row-select="selected" md-row-click="rowClick">
            <thead md-order="query.order">
            <tr>
                <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}"
                    ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}" name="{{column.name}}"
                    ng-attr-descend-first="{{column.descendFirst}}" ng-attr-trim="{{column.trim}}"></th>
            </tr>
            </thead>
            <tbody>
            <tr  md-no-select ng-repeat="dessert in desserts.data | orderBy: query.order | mdStartFrom:(query.page-1)*query.limit | limitTo:query.limit track by dessert.id">
                <td>{{dessert.name}}</td>
                <td>{{dessert.type}}</td>
                <td>{{dessert.date}}</td>
                <td>{{dessert.calories.value}}</td>
                <td>{{ dessert.note | limitTo: 50 }}{{dessert.note.length > 50 ? '...' : ''}}</td>
                <td>{{dessert.fat.value | number: 2}}</td>
                <td>{{dessert.carbs.value}}</td>
                <td>{{dessert.protein.value | number: 2}}</td>
                <td>{{dessert.sodium.value}}</td>
                <td show-unit>{{dessert.calcium.value}}</td>
                <td show-unit hide-sm>{{dessert.iron.value}}</td>
            </tr>
            </tbody>
        </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-data="desserts.data"></md-data-table-pagination>
