<md-data-table-toolbar ng-show="!selected.length">
    <h2 class="md-title">Nutrition</h2>
    (if it's working here, then we are fine)
</md-data-table-toolbar>

<md-data-table-toolbar class="alternate" ng-show="selected.length">
    <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
</md-data-table-toolbar>


Column Mode? {{ columnMode }}
<h1>RESPONSIVE</h1>
<button type="button" name="button" class="md-button" ng-click="toggleColumnMode()">Toggle Column Mode</button>
<md-data-table-container>

        <table hide-sm hide-xs id="md-data-table-1" ng-show="!columnMode" data-md-table md-progress="deferred" md-row-update-callback="rowUpdateCallback()" md-row-dirty="dirtyItems">
          <thead md-head data-md-order="query.order" md-on-reorder="onReorder">
            <tr md-row>
              <th md-column md:order:by="name"><span>Dessert (100g serving)</span></th>
              <th md-column md:order:by="type"><span>Type</span></th>
              <th md-column data-md-order-by="date.value"><span>Date</span></th>
              <th md-column data-md-numeric data-md-order-by="calories.value" data-md-desc><span>Calories</span></th>
              <th md-column data-md-desc><span>Note</span></th>
              <th md-column data-md-numeric data-md-order-by="fat.value"><span>Fat (g)</span></th>
              <!-- <th md-column data-md-numeric data-md-order-by="carbs.value"><span>Carbs (g)</span></th>
              <th md-column data-md-numeric data-md-order-by="protein.value"><span>Protein (g)</span></th>
              <th md-column data-md-numeric data-md-order-by="sodium.value"><span>Sodium (mg)</span></th> -->
              <th md-column data-md-numeric data-md-order-by="calcium.value"><span>Calcium (%)</span></th>
              <th md-column data-md-numeric data-md-order-by="iron.value" data-hide-sm><span>Iron (%)</span></th>
              <th md-column data-md-order-by="comment">
                <md-icon>comments</md-icon>
                <span>Comments</span>
              </th>
            </tr>
          </thead>

            <tbody md-body>
            <tr md-row md-auto-select
                data-ng-repeat="dessert in desserts.data | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell md-editable="text" data="dessert.name">{{dessert.name}}</td>
                <td md-cell>
                    <md-select ng-model="dessert.type" placeholder="Other" ng-change="rowUpdateCallback()">
                        <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                    </md-select>
                </td>
                <td md-cell md-editable="date" date-format="YYYY-MM-DD" data="dessert.date">{{dessert.date}}</td>
                <td md-cell md-editable="number" data="dessert.calories.value">{{dessert.calories.value}}</td>
                <td md-cell md-editable="note" md-editable-disabled="true" field-required="true" field-max-length="100" data="dessert.note">{{ dessert.note | limitTo: 20 }}{{dessert.note.length > 20 ? '...' : ''}}</td>
                <td md-cell>{{dessert.fat.value | number: 2}}</td>
                <!-- <td md-cell>{{dessert.carbs.value}}</td>
                <td md-cell>{{dessert.protein.value | number: 2}}</td>
                <td md-cell>{{dessert.sodium.value}}</td> -->
                <td md-cell show-unit>{{dessert.calcium.value}}</td>
                <td md-cell show-unit hide-sm>{{dessert.iron.value}}</td>
            </tr>
            </tbody>
        </table>



        <!--  Responsive -->
        <table hide-gt-sm data-md-table md-progress="deferred" md-row-update-callback="rowUpdateCallback()" md-row-dirty="dirtyItems">
            <tbody>

              <tr class="md-data-table-responsive-row" md-auto-select
                  data-ng-repeat="dessert in desserts.data | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit"
                  flex>
                <td>
                  <table>
                    <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder" style="display: table-cell;">
                      <th md-column md:order:by="name"><span>Dessert (100g serving)</span></th>
                    </thead>
                    <tbody md-body>
                      <tr md-row>
                        <td md-cell md-editable="text" data="dessert.name">{{dessert.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table>

                    <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
                      <th md-column data-md-numeric data-md-order-by="carbs.value"><span>Carbs (g)</span></th>
                    </thead>
                    <tbody md-body>
                      <tr md-row>
                        <td md-cell>{{ dessert.carbs.value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table>
                    <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
                      <tr>
                      <th md-column md:order:by="type"><span>Type</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row>
                        <td md-cell>
                            <md-select ng-model="dessert.type" placeholder="Other" ng-change="rowUpdateCallback()">
                                <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                            </md-select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>


                <td>
                  <table>
                    <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
                      <tr>
                      <th md-column data-md-desc><span>Note</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row>
                        <td md-cell md-editable="note" md-editable-disabled="true" field-required="true" field-max-length="100" data="dessert.note">{{ dessert.note }}{{dessert.note.length > 20 ? '...' : ''}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>


              </tr>
            </tbody>
        </table>

</md-data-table-container>

<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions"
  md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate"
   md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></data-md-table-pagination>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-show-row-selection="false" md-show-first-last="false"
                          md-trigger="onpagechange"></md-data-table-pagination>

<md-data-table-toolbar>
    <md-button ng-click="loadStuff()">Trigger Outside Event</md-button>
</md-data-table-toolbar>
